<div class="heading row">
    <h2 class="label"><%= prompt %></h2>
    <button class="button-outline" type="button" name="action-button">
        <%= alternative %>
    </button>
</div>
<form class="user-form">
    <input class="username" type="text" name="username" placeholder="Username" required>
    <input class="password" type="password" name="password" placeholder="password" required>
    <input class="email" type="email" name="email" placeholder="email@example.com" required>

    <input type="submit" name="submit-user" value="Log In">
</form>
