<div class="heading row">
    <h2 class="label"></h2>
    <button class="alt-prompt button-outline" type="button" name="action-button">
    </button>
</div>
<form class="user-form">
    <input class="username" type="text" name="username" placeholder="Username" required>
    <input class="password" type="password" name="password" placeholder="password" required>
    <input class="email" type="email" name="email" placeholder="email@example.com" required>

    <input class="prompt" type="submit" name="submit-user">
</form>
