<hr />
<div>
    <h3>Users:</h3>
    <table class="user-table">
        <thead>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    Gender:
                </td>
                <td>

                </td>
            </tr>
        </thead>
        <tbody class="user-list">
        </tbody>
    </table>
</div>
<div>
    <h4>Add User:</h4>
    <form class="add-user">
        <input class="name" type="text" name="name" placeholder="Full Name" required>
        <select class="gender" name="gender" required>
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="other">other</option>
        </select>
        <input type="submit" name="submit-user">
    </form>
</div>
