<hr />
<div>
    <h3>Users:</h3>
    <table class="user-table">
        <thead>
            <tr>
                <td>
                    Username:
                </td>
                <td>
                    Email:
                </td>
                <td>

                </td>
            </tr>
        </thead>
        <tbody class="user-list">
        </tbody>
    </table>
</div>
<div>
    <h4>Add User:</h4>
    <form class="add-user">
        <input class="username" type="text" name="username" placeholder="Username" required>
        <input class="password" type="password" name="password" placeholder="password" required>
        <input class="email" type="email" name="email" placeholder="email@example.com" required>

        <input type="submit" name="submit-user">
    </form>
</div>
